
  <div class="row mb-4">
    <div class="col-md-6">
      <select id="organisationsSelect" class="form-control">
        {{#ifCond user.class '==' 'global-admin'}}
          {{#each user.allOrganisations}}
            <option value="{{organisation_id}}"{{#ifCond (lookup ../user.organisation 'organisation_id') '==' organisation_id}} selected{{/ifCond}}>{{details.title}}</option>
          {{/each}}
        {{else}}
          {{#each user.organisations}}
            <option value="{{lookup (lookup ../user.allOrganisations this) 'organisation_id'}}"{{#ifCond (lookup ../user.organisation 'organisation_id') '=='  organisation_id}} selected{{/ifCond}}>{{lookup (lookup (lookup ../user.allOrganisations this) 'details') 'title'}}</option>
          {{/each}}
        {{/ifCond}}
      </select>
    </div>
  </div>

  <script>
    $("#organisationsSelect").change(function(){
      window.location.href =
      "{{public_address}}" +
      window.location.pathname +
      '?organisation=' + this.value;
    })
  </script>
