<script src="{{public_address}}/assets/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{{public_address}}/assets/css/bootstrap-select.min.css" />


<form method="post" action="{{public_address}}/users/add" class="form-group">
  <div class="row">
    <div class="col-md-6 mx-auto">

      <div class="alert alert-info mb-4 text-center" role="alert">
        <span class="badge badge-pill badge-info align-middle">Info</span> Once you have filled out the user's details, they'll be sent an email with instructions on how to activate their account.
      </div>


      <div class="card p-4">
        <div class="card-body">


          <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="first_name" class="form-control input-sm" placeholder="First Name" required>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="last_name" class="form-control input-sm" placeholder="Last Name" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" name="email" class="form-control input-sm" placeholder="Email Address" required>
            </div>

            <div class="row">
              {{#ifCond user.organisations.length '==' '1'}}

              <p>Will belong to <b>{{lookup (lookup (lookup user.allOrganisations user.organisations.[0]) 'details') 'title'}}</b></p>
              <input type="hidden" name="organisations" value="{{user.organisations.[0]}}" />
              {{else}}
              <div class="col-md-12">
                <select class="selectpicker show-tick form-control" name="organisations" title="Select one or more organisations" data-style="btn-info" data-size="auto" data-header="Select one or more organisations" data-live-search="true" multiple required />
                  {{#each user.organisations}}
                    <option value="{{this}}">{{lookup (lookup (lookup ../user.allOrganisations this) 'details') 'title'}}</option>
                  {{/each}}
                </select>
              </div>
              {{/ifCond}}
            </div>

            <div class="row mt-3">

              <div class="col-md-12">
                <select class="form-control" name="class" required />
                  <option value="tester">Tester</option>
                  <option value="local-admin">Local Admin</option>
                  {{#ifUserClass user.class '["global-admin"]'}}
                    <option value="tester">Global Admin</option>
                  {{/ifUserClass}}
                </select>
              </div>

            </div>

        </div>
      </div>


      <div class="row">

        <button type="submit" class="btn btn-success btn-block btn-lg">Invite User</button>

      </div>

    </div>
  </div>

  </form>
