<div class="row">
  <div class="col-md-12">
	   <table data-classes="table table-bordered table-hover table-light" data-pagination="true" data-search="true" data-toggle="table" data-striped="true">
		<thead>
			<th data-sortable="true">Name</th>
      <th data-sortable="true">Class</th>
      <th data-sortable="true">Status</th>
      <th>Last Login</th>

			<th>Action</th>
		</thead>
		<tbody>
		{{#each users}}

			<tr>

        <td>{{name}}</td>
        <td>
          {{formToPlain humanClass}}
        </td>
        <td>
          {{#ifCond deactivated '==' 0}}
            <span class="text-success">Active</span>
          {{else}}
            <span class="text-danger">Deactivated</span>
          {{/ifCond}}
        </td>
        <td>
          {{#if lastLogin}}
            {{niceTimestamp lastLogin}}
          {{else}}
            Never
          {{/if}}
        </td>
				<td>
					<a class="btn btn-block btn-primary" href="{{public_address}}/users/view/{{id}}">
            View/Update
					</a>
				</td>
			</tr>

		{{/each}}
		</tbody>
	</table>
  </div>
</div>
